| n | Iterative C | Recursive C | Dynamic Programming  C | Iterative P | Recursive P | Dynamic Programming  P |
|--|:--:|:--:|:--:|:--:|:--:|:--:|
| 500  | 0.00159  |    -     | 0.00162  |   -     |    -     | 0.03236  |
| 1000 | 0.00208  |    -     |    -     |   -     |    -     | 0.06554  |
| 1500 | 0.00218  |    -     |    -     |   -     |    -     | 0.06523  |
